.itemContainer {
  display: flex;
  flex-direction: column;
  height: 300px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: aqua;
}

.img {
  height: 80%;
  width: 90%;
  background-color: aquamarine;
}

.textContainer {
  background-color: purple;
}
