{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "ignorePatterns": ["webpack.config.js"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-restricted-syntax": "off",
    "css-modules/no-unused-class": "error",
    "css-modules/no-undef-class": "error"
  },
  "parser": "@typescript-eslint/parser",
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "settings": {
    "import/resolver": {
      "typescript": {
        "project": "./tsconfig.json",
        "alwaysTryTypes": true
      }
    }
  },
  "plugins": ["@typescript-eslint", "css-modules"]
}
