.shopPageContainer{
    display: block;
    padding-left: 2%;
    padding-right: 2%;
}

.card{
    width: 100%;
    height: 300px;
    background-color: white;
    border-radius: 15px;
    display: flex; 
}
.titleContentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 24px;
}
.itemContainer{
    display: flex;
    flex-direction: row;
    margin-top: 12px;
    margin-bottom: 12px;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 20px;
    margin-right: 12px;
    color:  #e45a5a;;
}
.value{
    font-size: 15px;
    color:  #e08383;;
}