.container {
  height: 300px;
  width: 94vw;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  border-radius: 10px;
  background-color: aquamarine;
}
.active {
  height: 300px;
  width: 100%;
}
.hidden {
  display: none;
}
