{
  "env": {
    "development": {
      "presets": ["@babel/preset-react"]
    },
    "production": {
      "presets": ["@babel/preset-react"]
    },
    "test": {
      "presets": ["@babel/preset-react"]
    }
  }
}
