.pageContainer{
    display: block;
    padding-left: 2%;
    padding-right: 2%;
}
.contentContainer{
    width: 100%;
    height: 20%;
}
.listContainer{
    display: flex;
    height: 72%;
    width: 100%;
}