.pageContainer{
    display: block;
    padding-left: 2%;
    padding-right: 2%;
}
.contentContainer{
    width: 100%;
    background-color: rgba(240, 248, 255, 0.896);
    border-radius: 15px 15px 0 0 ;
}
.listContainer{
    display: flex;
    width: 100%;
    background-color: rgba(240, 248, 255, 0.896);
}